services:
  web:
    build:
      context: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - api

  api:
    build:
      context: ./api
    env_file:
      - ./api/.env
    ports:
      - "3000:3000"
